@<%= @customer.name %>さんのページ
<div class ="container">
	<div class ="row">
		<div class ="col-lg-4">
			<%= attachment_image_tag(photo.customer, :profile_image, :fill, 200,200, fallback: "assets/no_image.jpg", size: '200x200' class: "img-circle") %>
			<%= @customer.name %>
			<div class ="customer">
			</div>
			<%  %>
    	</div>
    </div>