<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<%= image_tag "sample5.JPG", style: "height: 500px; width:500px; margin-top: 50px;" %>
		</div>
		<div class="col-lg-4 col-lg-offset-2" style="background: green; margin-top: 100px;">
			<p style="color: white;">
				北海道にはガイドブックに載っていない素敵な場所がたくさんあると思っています。<br>
				それを<br>
                     ・知ってもらい人<br>
                     ・知りたい人<br>
                そんな方の為にこんなサイトがあれば良いのではないかと思い、<br>
                本サイトを作成しました。<br>
                投稿に関して、もっと詳しく知りたい場合はコメントをぜひ活用してください！
            </p>
		</div>
	</div>
</div>