ようこそ
<img src="assets/hhokkaido.jpg" style="width:100%; margin-top:50px;" >
<div style="position: absolute; top: 50%; left: 30%; max-width: 100%; max-height: 100%; padding: 30px; text-align: left; color: #f5f5f5;" >
	<p>
		ようこそ、PhotoshopUTへ。<br>
		北海道で撮影された写真の投稿及び閲覧サイトです。<br>
		ご利用いただくには会員登録が必要になります。
	</p>
</div>

<%= link_to "会員登録はこちらから", new_customer_session_path %>